/* there are no comments here because css is a lie its all magic words to get the spells to work correctly */
*{
    box-sizing: border-box;
  
  }
/*
.contents-awesome{
   position: absolute;
   top: 50%;
   left: 50%;
}

#awesome-title{
    background-color: limegreen;
    margin: 0 auto;
    justify-content: center;

} */

/* .remove{
    display: inline-block;
    margin-right: 5px;
} */
h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body{
    
    display: grid;
    height: 100vh;
    margin: 0;
}